* {box-sizing: border-box;}
html {
  min-height: 100%;
  position: relative;
}

body{
	background-image: url("images/background.png");
  margin: 0;
  margin-bottom: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

td, th{
    border: 2px solid black;
    }
table, form{
      border-collapse: collapse;
      margin:27px;
      font-family: Arial;
    }
#pie{
     position: fixed;
     left: 0px;
     bottom: 0px;
     height: 200px;
     width: 100%;
}
#divcontra{
     background-color: #FDFEFE;
     width: 350px;
     height: 263px;
     margin-left: auto;
     margin-right: auto;
     margin-top: auto;
     border-radius: 6px;
}
#boton_cam{
      text-decoration: none;
      padding: 7px;
      font-weight: 60;
      font-size: 15px;
      color: #FDFEFE;
      background-color: #2874A6;
      border-radius: 6px;
      border: 2px;
      font-family: Arial;
}

.header{
  	overflow: hidden;
	  background-image: url("images/grass.jpg");
  	width: 100%;
  	display: block;
}

.topnav {
  overflow: hidden;
  background-color: black;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .container {
  float: right;
}

.topnav input[type=text], .topnav input[type=password] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 17px;
  border: none;
}

.topnav .container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .container button:hover {
  background: #ccc;
}

.titulo h1{
  text-align: center; 
  color: white;
  font-size: 40px;
}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 90px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: Verdana, sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.images_menu {
	left: 0%;
	width: 100%; 
	height: 30%;
}

.images_menu img{
	border-radius: 90%; height: 100%; width: 18%;
	border: 5px solid #cecee0;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
    background-color: black;
    color: #aeafaf;
}

.left, .right {
  width: 30%;
  text-align: center;
}

.right img{
  width: 40%;
}

.left img{
  width: 20%;
}

.left{
  display: table-cell;
  padding-top: 50px;
}

.middle {
  width: 40%;
  text-align: center;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: black;
    color: #aeafaf;
    position: fixed;
    bottom: 0;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.wrapper{
	margin: auto;
  max-width:50%; 
}

.wrapper label{
	color: white;
	font-size: 17px;
	padding: 6px;
	margin-top: 8px;
	margin-right: 8px;

}

.wrapper legend{
	color: white;
	font-size: 30px;
	font-weight: bold;

}

.wrapper input[type=text], .wrapper input[type=email], .wrapper input[type=tel], .wrapper textarea{
	padding: 6px;
	margin-top: 8px;
	margin-right: 8px;
	font-size: 17px;
	border: none;
	width: 100%;
	margin-bottom: 8px; 
}

.wrapper input[type=submit] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 50%
}

.wrapper input[type=submit]:hover {
  background: #ccc;
}

.contenido{
  color: white;
  font-size: 25px;
  font-weight: normal;
  width: 80%;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}

.qsomos{
  width: 100%;
  display: table;
}

.qsomos div{
  display: table-cell;
  padding: 5%;

}

.izquierda{
  width: 45%;
}

.derecha{
  float: right;
}

.qsomos div video{
  margin-bottom: 10%;
  padding-top: 0%;
  width: 100%;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media screen and (max-width: 800px) {
  .topnav .container {
    float: none;
    display: inline;
  }
  .topnav a, .topnav input[type=text], .topnav input[type=password], .topnav .container button {
    display: inline;
    text-align: center;
    margin: 0;
    padding: 10px;
  }
  .topnav input[type=text], .topnav input[type=password] {
    border: 1px solid #ccc;  
  }
  .header .escudo{
    height: 80%;
  }
  .header .logo{
    width: 80%;
  }
  .topnav a {
    padding: 12px 14px;
    display: inline;
    font-size: 10px;
    }

    .column {
      width: 100%;
      padding-top: 30px; 
    }

    .topnav input[type=text], .topnav input[type=password] {
      padding: 6px;
      margin-top: 8px;
      margin-right: 2px;
      font-size: 10px;
      width: 15%;
    }
    
    .topnav .container button {
      padding: 6px;
      margin-top: 8px;
      font-size: 10px;
      width: 15%;
    }

    .left, .right {
      width: 25%;
    }
    
    .left{
      padding-top: 50px;
    }
  
    .right img{
      width: 85%;
    }

    .left img{
      width: 40%;
    }
  
    .middle {
      width: 50%;
      font-size: 12px;
    }
  
  /* Caption text */
  .text {
    font-size: 50px;
  }
  .contenido{
    font-size: 15px;
  }

  .qsomos div{
    display: block;
    padding: 5%;
  
  }
  
  .izquierda{
    width: 100%;
  }
  
  .derecha{
    float: none;
  }
  
  .qsomos div video{
    margin-bottom: 10%;
    width: 100%;
  }

  .wrapper{
    max-width:60%; 
    margin-top: 5%;
  }

}

