* {box-sizing: border-box;}

.loginBox{
  position: absolute;
  margin-top: 30%;
  margin-left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  padding: 3% 3%;
  background: rgba(0,0,0,.5);
  clear: both;
}


h2{
  margin: 0;
  padding: 0 0 20px;
  color: #efed40;
  text-align: center;
}

.loginBox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}

.loginBox input{
width: 100%;
margin-bottom: 20px;
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 30px;
font-size: 15px;
color: #fff;
}

.loginBox input[type="submit"]{
  background-color: #fff;
  border: none;
  outline: none;
  height: 35px;
  color: #000;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.images_menu {
  left: 0%;
  width: 100%; 
  height: 30%;
}

.images_menu img{
  border-radius: 90%; height: 100%; width: 18%;
  border: 5px solid #cecee0;
}

figure img{
  width: 100%;
  padding: 0;
  margin:0;
}

figcaption{
  color: #fff;
}

.loginBox input[type="button"]{

  background-color: #fff;
  border: none;
  outline: none;
  height: 35px;
  color: #000;
}

#botones{
  align-content: center;
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  width: 50%;
}

#ap{
  background-color: green;
  color: #fff;
}

#rep{
  background-color: red;
  color: #fff;
}

#titulo{
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10%;
  background-color: black;
  color: #fff;
  font-size:50px;
  font-style: italic;
  margin-bottom: 4px;
}

aside{
margin-top: 0;
background-color: black;
float: left;
width: 250px;
text-align: center;
height: 105%;
position: absolute;

}

section{
  clear: both;
  
}

#a{
  background-color: #fff;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  padding-top: 6px;
  margin-right: 3px;
  font-size: 25px;
}

#r{
  text-decoration: none;
  color: black;
}
